
/* নেভিগেশন বার ডিজাইন */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;

}
.nav-container h1 .span1 {
    width: 219px;
    height: 32px;
    color: #FFFFFF;

}
.nav-container h1 .span2{
     width: 219px;
     height: 32px;
    background: linear-gradient(90deg, #00e5ff, #ff2fdc);
    -webkit-background-clip: text;
     background-clip: text;
   -webkit-text-fill-color: transparent;
    color: transparent;
}
.nav-container .nav-list{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-size: 16px;
    color: #FFFFFF;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
   height: 44px;  
   border-radius: 10000px;
  cursor: pointer;
  gap: 4px;

    background: linear-gradient(135deg, #ff2fdcce, #ffcc70);
    box-shadow: 0 8px 25px rgba(255, 47, 220, 0.4);
   transition: transform 0.2s ease;
    background-color: none;

 
}


.button a {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;

}
.button img {
    width: 24px;
    height: 24px;
    filter: invert(1); 
}
.hamburger-menu{
    display: none;

    /* বেনার এর ডিজাইন */
}
.banner-container{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.gol{
    width: 350px;
    height: 350px;
    position: absolute;
    right: 773px;
    top: 101px;
}
.microphon{
    position: absolute;
    right: 890px;
    top: 170px;

}
.gol-btn{
    position: absolute;
    width: 75px;
   height: 38px;
   background-color: #00FF88;
   border-radius: 1000px;
   font-size: 18px;
   font-weight: 600;
    right: 800px;
    top: 108px;


}
.banner-container .text {
    position: absolute;
     right: 700px;
     top: 490px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 0;

}

.banner-container .text h1{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
     font-family: "Inter", sans-serif;
     margin:10px;

}

.banner-container .text p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff7f;
    margin: 15px;
}

 .banner-container .text .text-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }
 .banner-container .text .text-btn .btn-1{
    width: 201px;
    height: 44px;
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #FFFFFF;
      background: linear-gradient(135deg, #ff2fdcce, #ffcc70);
      box-shadow: 0 8px 25px rgba(255, 47, 220, 0.4);
      transition: transform 0.2s ease;
 }
 .banner-container .text .text-btn .btn-2{
    width: 147px;
    height: 44px;
    display: flex;
   justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 20px ; 
  font-size: 16px;
font-weight: 600;
color: #00FF88;
border-radius: 10000px;
border: 1px solid #00FF88;
background-color: transparent;
 }


 /* <!-- প্রথম সেকশন --> */
         /* <!-- প্রথম সেকশন --> */

.first-container{
    display: flex;
    flex-direction: column;
    background-color: #1A0B2E;
    justify-content: center;
    align-items: center;
    padding: 50px 200px 120px 200px;
}
.text-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-first h1{
    font-size: 48px;
   font-weight: 700;
   font-family: "Inter", sans-serif;
   color: #FFFFFF;

}

.text-first p{
     font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff84;
    margin-top: 0;
}
 /* hr{
    display: flex;
    
    flex-direction: row;
    height: 10px;
    background-color: #c81d1d;
} */
 hr {
    border: none;             
    height: 1px;              
    background-color: #ffffff19;
    width: 1200px;             
    margin: 40px auto;      
}
.big-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 160px;
    color: #FFFFFF;
     font-family: "Inter", sans-serif;
}
.big-text .big1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-text .big1 h1 {
    font-size: 48px;
    color: #00FF88;
    margin: 0;
}
.big-text .big1 p{
    font-size: 16px;
    font-weight: 400;
}

/* দ্বিতীয় সেকশন  */
/* দ্বিতীয় সেকশন */

.second-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #230E3D;
    font-family: "Inter", sans-serif;
    padding: 140px 30px;
    
    color: #FFFFFF;
    margin-bottom: 0;

}

.second-container h1{
    font-size: 48px;
    width: 800;
}
.grid-box{
    
    
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 738px;
    display: grid;
    gap: 25px;
   text-align: left;
   justify-content: center;
   
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 0px 200px;
    /* border: 2px solid red;    */
    
}
.box1{
    
    border-radius: 40px;
    background-color: #3511657c;
    box-shadow: 20px;
    /* border: 2px solid red; */
    padding: 20px;
    
    grid-column: 1;
    grid-row: 1 / span 2;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
   
   


}
.box1 img{
    width: 60px;
    height: 60px;
   

}
.box1 h3{
    font-size: 24px;
    width: 800;

}
.box1 p{
    font-size: 16px;
    width: 400;

}


.box2{
   
    border-radius: 40px;
     background-color: #3511657a;
     grid-column: 2 / span 3;
    box-shadow: 20px;
    padding: 20px;
    /* border: 2px solid red; */
    
}

.box2 img{
    width: 60px;
    height: 60px;  

}
.box2 h3{
     font-size: 24px;
    width: 800;

}
.box2 p{
    font-size: 16px;
    width: 400;
    
}



.box3{
   
    border-radius: 40px;
     background-color: #35116577;
    box-shadow: 20px;
    grid-row: 2;
    grid-column: 2 / span 3;
    padding: 20px;
    /* border: 2px solid red; */

}

.box3 img{
    width: 60px;
   height: 60px;

}
.box3 h3{
     font-size: 24px;
    width: 800;

}
.box3 p{
    font-size: 16px;
    width: 400;
    
}

.box4{
   
    border-radius: 40px;
     background-color: #35116575;
    box-shadow: 20px;
    grid-row: 3;
    grid-column: 1/ span 2;
   padding: 20px;
    /* border: 2px solid red; */

}

.box4 img{
    width: 60px;
    height: 60px;

}
.box4 h3{
     font-size: 24px;
    width: 800;

}
.box4 p{
    font-size: 16px;
    width: 400;
    
}


.box5{
   
   border-radius: 40px;
    background-color: #35116579;
   box-shadow: 20px;
   padding: 20px;
   grid-row: 3;
   grid-column: 3;
   /* border: 2px solid red; */

}

.box5 img{
    width: 60px;
   height: 60px;

}
.box5 h3{
     font-size: 24px;
    width: 800;

}
.box5 p{
    font-size: 16px;
    width: 400;
    
}


/* 3য় সেকশন */
/* 3য় সেকশন */
.therd-section{
    background-color: #1A0B2E;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
     font-family: "Inter", sans-serif;
    padding: 120px 200px 120px 200px;
}

.therd-section .h1{
    font-size: 48px;
   font-weight: 700;
   color: #FFFFFF;
   text-align: center;
}
.video-container{
    width: 1200px;
    height: 538px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
   
}
.video{
    width: 380px;
    height: 440px;
    background-color: #250D44;
    border-radius: 0px 0px 24px 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 30px;
    
}
.ifrem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* width: 380px;
    height: 214px; */
    margin-top: 0;
}
.video iframe{
    width: 380px;
    height: 214px;
}
.video h1{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}
.video p{
    font-size: 16px;
   font-weight: 400;
   color: #ffffff89;
}
.clock{
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: left;
    gap: 10px;
}

/* শেষ সেকশন */
/* শেষ সেকশন */
/* শেষ সেকশন */
.last-container{
    background-color: #1A0B2E;
    padding: 120px 200px 120px 200px;
}

.last-container h1{
    font-size: 48px;
   font-weight: 700;
   color: #FFFFFF;
   font-family: "Inter", sans-serif;
   text-align: center;
}
.extra{
    width: 1200px;
    height: 280px;
    background-color: #250D44;
    margin: 0 auto;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    padding: 40px;
    gap: 20px;
}
.text-extra{
  

}
.text-extra h2{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
   font-family: "Inter", sans-serif;
 
}
.text-extra p{
    width: 896px;
   height: 72px;
   color: #ffffff9a;
}
.text-extra img{
    border: 1px solid whitesmoke;
    border-radius: 50%;
    padding: 12px 12px;
}

/* ফুটার */
/* ফুটার */
















































@media screen and (max-width:576px){
    .nav-container .nav-list{
    display: none;
    }
    .button{
    display: none;
    }
    .hamburger-menu{
    display:inline;
}






/* বেনান ডিজাইন */



.banner-container{
    padding: 40px 0;
    background-image: url(../assets/hero-bg.png);
    width: 576;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.gol{
    position: static;
    width: 260px;
    height: 260px;
    margin: 0 auto;
    
}


.microphon{
    width: 80px;
    height: 100px;
    position: absolute;
    top: 120px;
    left: 50%;
    right: 100px;
    /* transform: translateX(-50%); */
}


.gol-btn{
    position: absolute;
    top: 70px;
    left: 50%;
    right: 200px;
    /* transform: translateX(-50%); */
}


.banner-container .text{
    position: static;
    margin-top: 30px;
    text-align: center;
}


.banner-container .text h1{
    font-size: 36px;
}


.banner-container .text p{
    font-size: 14px;
    padding: 0 20px;
}


.banner-container .text .text-btn{
    flex-direction: row;
}




 /* <!-- প্রথম সেকশন --> */
 .first-container{
    padding: 5px 5px ;
 }
 .big-text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: #FFFFFF;
     font-family: "Inter", sans-serif;
    
 }

/* দ্বিতীয় সেকশন  */
/* দ্বিতীয় সেকশন */

.grid-box{
    
    
    max-width: auto;
    width: 100%;
    margin: 0 auto;
    /* height: 738px; */
    display: grid;
    gap: 25px;
   text-align: left;
   justify-content: center;
   
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    margin:auto;
    /* border: 2px solid red;    */
    
}
.box1 .box2 .box3 .box4 .box5{
    grid-column: 1;
    grid-row: 1;
}

/* 3য় সেকশন */
/* 3য় সেকশন */




}





    
